{{#if destinations}}
  {{#each destinations}}
    <div class="destination touchFeedback" data-url="{{this.uri}}">
      <div{{#if this.photo}} style="background-image:url({{this.photo}})"{{/if}} class="photo"></div>
      <label>{{this.title}}</label>
      <p>{{this.firstP}}</p>
    </div>
  {{/each}}
  {{#if destinationCount}}
    <button data-action="{{dataAction}}" class="seeAllBtn touchFeedback btn-lg btn btn-primary">See all ({{destinationCount}})</button<
  {{/if}}
{{else}}
  <div class="alert alert-info noDestinationsMsg">
    {{noDestinationsMsg}}
  </div>
{{/if}}
